*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    padding-bottom: 50px;
}

.divider {
    position: relative;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(72, 8, 175), transparent);
}

h1 {
    font-size: 3.25rem;
    font-weight: 500;
    color: rgb(72, 8, 175);
}

h2,
h3,
h4,
h5 {
    font-weight: bold;
    color: rgb(72, 8, 175);
}

h3 {
    /* font-size: 2.5rem; */
    text-align: center;
}

h5 {
    font-size: 1.30rem;
}

p {
    font-size: 1.25rem;
}

.box {
    background-color: #e4cffcce;
    margin: 2px;
    padding: 2px;
}

.containerConditions {
    width: 620px;
}

#currentConditions {
    width: 500px;
}

#forecasth3 {
    margin-top: 10px;
}